# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build output
dist/
build/

# Test
coverage/

# Environment
.env
.env.local

# Temporary files
*.tmp
*.temp
.cache/

# AI
.claude/
*.claude
claude-desktop.json
CLAUDE.md
OPENCODE.md
.opencode

# fina
bin/
test/

